@font-face{
    font-family: 'DancingScript';
    src: url('../fonts/DancingScript-Regular.ttf') format("truetype");
    src: url('../fonts/DancingScript-Regular.eot');
    src: url('../fonts/DancingScript-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DancingScript-Regular.woff2') format('woff2'),
        url('../fonts/DancingScript-Regular.woff') format('woff'),
        url('../fonts/DancingScript-Regular.svg#DancingScript-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html{
    background-color: #ECEFF1;
    width: 100%;
    max-width: 2500px; /*taille max*/
}

body, p, h1, h2, h3, h4, html{
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
}

.center{
    text-align: center;
}

h1{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #37474F;
}

header{
    border-bottom: 1px solid #ECEFF1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 49px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #263238;
    color: #ECEFF1;
    z-index: 1;
    max-width: 2460px; /*taille max*/
}

main{
    position: relative;
}

.logo{
    line-height: 50px;
    float: left;
    font-family: 'DancingScript', sans-serif;
    font-size: 1.6em;
}

.menu{
    float: right;
}

.menu li{
    margin-left: 15px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.menu li a:hover, .logo:hover{
    color: #B0BEC5;
}

.home{
    margin-top: 50px;
    position: relative;
}

.text-image{
    opacity: 0.8;
    width: 200px;
    position: absolute;
    background-color: #000;
    color: #FFF;
    margin-top: 20px;
}

.image-home{
    width: 100%;
    height: auto;
}

.parallax{
    background-image: url('../images/computer.jpg');
    min-height: 2000px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

@keyframes transition{
    0%{
        margin-top: -50px;
        opacity:0;
    }
    100%{
        margin-top: 0;
        opacity:1;
    }
}

.text-home{
    position: absolute;
    background-color: rgba(38, 50, 56, 0.2);
    top: 50px;
    width: 258px;
    left: 50%;
    right: 50%;
    border-radius: 25px;
    padding: 20px;
    margin-left: -149px;
    color: #FFF;
    opacity: 0;
    animation: transition 1s ease-in-out 1s forwards;
}

#portfolio{
    margin-top: 20px;
}

.ancre{
    display: block;
    position: relative;
    top: -1040px; 
    visibility: hidden;
}

.realisations{
    color: #37474F;
}

.portfolio-list{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    height: 400px;
    width: 350px;
    margin: 10px;
}

.zoom{
    width: 100%;
    height: 300px;
    display: block;
    overflow: hidden;
}

.zoom img{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease; 
    transition: all 1s ease;
}

.link-card:hover img {
    -webkit-transform:scale(1.1); 
    -moz-transform:scale(1.1); 
    -ms-transform:scale(1.1); 
    -o-transform:scale(1.1); 
    transform:scale(1.1);
}

.zoom {
    background: #263238;
    position: relative;
}

.link-card:hover img {
    opacity: 0.3;
}

.text-image-card{
    position: absolute;
    top: 0;
    color: #FFF;
    width: 350px;
    text-align: center;
    line-height: 300px;
    opacity: 0;
    transition-property: opacity;

    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;
}

.text-image-card:hover{
    opacity: 1;
}

.title-card{
    background-color: #263238;
    height: 100px;
}

.text-card{
    color: #CFD8DC;
    line-height: 50px;
}

.link-card{
    display: block;
}

.competences{
    max-width: 1090px;
    width: 95%;
    min-height: 250px;
    background-color: #263238;
    margin: auto;
    color: #CFD8DC;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mt{
    margin-top: 10px;
}

.competences-text h3{
    margin-bottom: 10px;
    text-decoration: underline;
}

.competences-graph{
    float: right;
    width: 35%;
}

.bar-competences{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin10{
    margin-left: 10px;
    margin-right: 10px;
}

.bar{
    width: 100px;
    height: 20px;
    border: 1px solid #ECEFF1;
    border-radius: 10px;
}

.bar-color{
    background-color: #CFD8DC;
}

#contact{
    margin-bottom: 20px;
    margin-top: 20px;
}

.success-message{
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
    background-color: #B0BEC5;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    color: #1B5E20;
}

.errors-message{
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
    background-color: #B0BEC5;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    color: #B71C1C;
}

.form-contact{
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.form-contact form{
    max-width: 1000px;
    margin: auto;
}

.form-input, .form-textarea
{
    margin-bottom: 20px;
    padding-left: 10px;
    width: 80%;
    height: 25px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.form-textarea
{
    height: 200px;
}

.form-submit{
    background-color: #455A64;
    height: 30px;
    width: 120px;
    color: #CFD8DC;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-submit:hover{
    background-color: #263238;
    color: #FFF;
}

::placeholder {
  color: #263238;
}

#link-mentions{
    font-weight: 700;
    cursor: pointer;
}

#link-mentions:hover{
    color: #FFF;
}

#mentions{
    width: 100%;
    max-width: 2500px; /*taille max*/
    height: 500px;
    background-color: #FFF;
    margin-left: calc(100% * -1);
    position : absolute;
    z-index: 10;
    overflow: auto;

    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;
}

.bloc-mentions{
    margin-left: 50px;
    margin-right: 50px;
}

.bloc-mentions p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.bloc-mentions span{
    font-weight: bold;
}

.bloc-mentions a{
    text-decoration: underline;
}

.bloc-mentions a:hover{
    text-decoration: none;
}

.mentions-shadow{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer {
    background-color: #263238;
    height: 50px;
    line-height: 50px;
    color: #B0BEC5;
}

.footer a {
    font-weight: 700;
}

.footer a:hover {
    color: #FFF;
}

.text-footer{
    display: flex;
    width: 410px;
    margin: auto;
}

/**********************************\
            RESPONSIVE
\**********************************/
@media all and (min-width: 2500px)
{
    html{
        max-width: 2500px; /*taille max*/
        margin: auto;
    }

    header{
        margin: auto;
    }
}

@media all and (max-width: 600px)
{
    .header{
        position: static;
        z-index: 50;
    }

    .header-icon{
        position: relative;
        float: right;
        width: 35px;
        height: 50px;
        padding-left: 5px;
    }

    .header-icon:after{
        content: '';
        position: absolute;
        display: block;
        width: 1em;
        height: 0;
        top: 10px;
        left: 12px;
        box-shadow: 
            0 10px 0 1px #FFF,
            0 16px 0 1px #FFF,
            0 22px 0 1px #FFF;
    }

    .menu{
        position: absolute;
        width: 250px;
        left: -100%;
        top: 50px;
        height: 100vh;
        background-color: #263238;
        text-align: center;
        transition: all 0.5s;
    }

    .menu ul{
        padding: 0;
        margin: 0;
    }

    .menu li{
        margin-left: 0;
        display: block;
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #31465e;
    }

    .menu li a{
        display: block;
        width: 100%;
    }

    .menu-show{
        left: 0;
    }

    .shadow{
        position: absolute;
        margin-top: 50px;
        margin-left: -20px;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
}

@media all and (max-width: 445px)
{
    .footer{
        height: 100px;
    }

    .text-footer{
        width: 305px;
        flex-wrap: wrap;
    }

    .text-footer div{
        margin: auto;
    }
}

@media all and (max-width: 360px)
{
    .card, .zoom, .image-card img{
        width: 200px;
        height: auto;
    }

    .zoom{
        height: 175px;
    }

    .title-card{
        height: auto;
    }

    .text-card{
        margin: 0 5px;
        line-height: 30px;
    }
}